/* frontend/src/styles/ShipsTable.css */

.ShipsTable {
    width: 100%;
    border-collapse: collapse;
}

.ShipsTable th, .ShipsTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.ShipsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.ShipsTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.ShipsTable tr:hover {
    background-color: #ddd;
}